@charset "UTF-8";

.flex-pai {
    display: flex;
    background-color: blue;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-pai div {
    background-color: white;
    border: 1px solid black;
    margin: 20px;
    padding: 30px;
}

@media screen and (max-width: 768px) {
    .flex-pai {
        flex-direction: column;
    }
}